<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>View Courses</title>
</head>
<body>
	<div align="center">
		<h1>View Courses</h1>

		<table border="1">
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Type</th>
				<th>Action</th>
			</tr>

			<tr th:each="course:${courses}">
				<td th:text="${course.title}"></td>
				<td th:text="${course.description}"></td>
				<td><span th:if="${course.paid}">Paid</span> <span
					th:if="${!course.paid}">Free</span></td>
				<td>
					<button>Publish</button>
				</td>
			</tr>

		</table>

		<br> <a href="/tutor/courses">
			<button>Back</button>
		</a>
	</div>
</body>
</html>